---
export interface Props {
  marginBottom?: string;
}
const { marginBottom = "0" } = Astro.props as Props;
---

<div class="three-column-layout">
  <slot />
</div>

<style define:vars={{ marginBottom }}>
  .three-column-layout {
    margin-top: 32px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-bottom: var(--marginBottom);
  }
</style>
