<table class="neo-table neo-table--info">
  <slot />
</table>

<style is:global>
  table.neo-table.neo-table--info tbody tr td {
    min-width: 12rem;
    padding-left: 0;
    max-width: 80ch;
    border-bottom: 1px solid var(--neo-color-base-200);
  }

  table.neo-table.neo-table--info tbody tr {
    pointer-events: none;
  }

  table.neo-table.neo-table--info tbody tr td:first-child {
    vertical-align: top;
  }
</style>
