---
import clsx from "clsx";

export interface Props {
  isKeyboardInteraction?: boolean;
  isBulletedList?: boolean;
}

const { isKeyboardInteraction, isBulletedList } = Astro.props as Props;
---

<table
  class={clsx(
    "neo-table neo-table--info",
    isKeyboardInteraction && "neo-table--keyboard-interaction",
    isBulletedList && "info-table--bulleted"
  )}
>
  <slot />
</table>

<style is:global>
  table.neo-table.neo-table--info tbody tr td {
    font-size: 14px;
    min-width: 12rem;
    padding-left: 0;
    max-width: 80ch;
    border-bottom: 1px solid var(--neo-color-base-200);
  }

  table.neo-table.neo-table--info:not(.neo-table--keyboard-interaction) {
    margin-left: 1.1rem;
  }

  table.neo-table.neo-table--info:not(.neo-table--keyboard-interaction)
    tbody
    tr,
  table.neo-table.neo-table--info:not(.neo-table--keyboard-interaction)
    tbody
    tr
    td {
    padding: 0.1rem 0;
    border-bottom: none;
  }

  table.neo-table.neo-table--info:not(.neo-table--keyboard-interaction)
    tbody
    tr
    td {
    text-indent: -1.1rem;
  }

  table.neo-table.neo-table--info:not(.neo-table--keyboard-interaction)
    tbody
    tr
    td
    strong {
    font-weight: 600;
  }

  table.neo-table.neo-table--info thead tr th {
    padding-left: 0;
  }

  table.neo-table.neo-table--info:not(
      :last-child,
      .neo-table--keyboard-interaction
    ) {
    margin-bottom: 2rem;
  }

  table.neo-table.info-table--bulleted.neo-table--info:not(
      .neo-table--keyboard-interaction
    ) {
    margin-left: 0.6rem;
  }

  table.neo-table.info-table--bulleted.neo-table--info:not(
      .neo-table--keyboard-interaction
    )
    tbody
    tr
    td {
    text-indent: -0.7rem;
  }

  @media (prefers-color-scheme: dark) {
    table.neo-table.neo-table--info tbody tr td {
      border-bottom: 1px solid var(--neo-color-base-600);
    }
    table.neo-table.neo-table--info:not(.neo-table--keyboard-interaction)
      tbody
      tr,
    table.neo-table.neo-table--info:not(.neo-table--keyboard-interaction)
      tbody
      tr
      td {
      border-bottom: none;
    }
  }

  table.neo-table.neo-table--info tbody tr {
    pointer-events: none;
  }

  table.neo-table.neo-table--info tbody tr td:first-child {
    vertical-align: top;
  }

  @media (max-width: 671px) {
    table.neo-table.neo-table--info tbody tr td {
      min-width: unset;
    }
  }
</style>
