---
import { Link } from "@avaya/neo-react";

import {
	CollapsibleColumns,
	Description,
	Divider,
	ExternalLink,
	ImageWithCaption,
	InfoList,
	InfoListItem,
	PageleteSubSection,
	SubHeader,
} from "components";

import img1 from "../../imgs/product-quality-testing-1.svg";
import img2 from "../../imgs/product-quality-testing-2.svg";
import img3 from "../../imgs/product-quality-testing-3.svg";
---

<PageleteSubSection>
  <SubHeader id="ptg-quality-assurance-testing-methods">
    Testing Methods
  </SubHeader>

  <Description>
    Since accessibility issues differ by platform and the assistive technology
    employed by each user, it is important to test for issues with more than one
    method.
  </Description>

  <CollapsibleColumns>
    <ImageWithCaption
      imgSrc={img1.src}
      imgAlt="Image showing multiple screen overlapping with a checkmark on the top most screen"
      captionTitle="Test With Multiple Screen Readers"
    >
      Like cross-browser and device testing, checking with multiple screen
      readers is important as there are some differences in the way information
      is presented. Some issues may apply to only one or two screen readers. The
      most common screen readers to test are:

      <InfoList>
        <InfoListItem>
          <ExternalLink
            href="https://www.freedomscientific.com/products/software/jaws/"
          >
            JAWS (on Windows)
          </ExternalLink>
        </InfoListItem>
        <InfoListItem>
          <ExternalLink href="https://www.nvaccess.org/download/">
            NVDA (on Windows)
          </ExternalLink>
        </InfoListItem>
        <InfoListItem>
          <ExternalLink href="https://help.apple.com/voiceover/mac/10.15/">
            Voiceover (on Mac and iOS)
          </ExternalLink>
        </InfoListItem>
        <InfoListItem>
          <ExternalLink
            href="https://support.microsoft.com/en-us/windows/complete-guide-to-narrator-e4397a0d-ef4f-b386-d8ae-c172f109bdb1"
          >
            Narrator (on Windows)
          </ExternalLink>
        </InfoListItem>
        <InfoListItem>
          <ExternalLink
            href="https://support.google.com/accessibility/android/answer/6007100?hl=en"
          >
            Talkback (for Android)
          </ExternalLink>
        </InfoListItem>
      </InfoList>
    </ImageWithCaption>

    <ImageWithCaption
      imgSrc={img2.src}
      imgAlt="Image showing a screen with a wrench next to it"
      captionTitle="Test With Multiple Tools"
    >
      Automated tools can help uncover common development issues, such as
      missing tags or alternative text. A list is available on the testing tools
      page for web, desktop and mobile. It is important to remember that these
      tools only cover about 40% of all accessibility issues, so they should be
      used alongside the other methods listed here.
    </ImageWithCaption>
  </CollapsibleColumns>

  <CollapsibleColumns>
    <ImageWithCaption
      imgSrc={img3.src}
      imgAlt="Image showing screen with checkmarks and a half visible eye icon on the top"
      captionTitle="Test With Users With Disabilities"
    >
      As we build these applications for our users, it is important to collect
      their feedback on their experiences with our products. Testing with users
      with disabilities can help uncover issues or areas for improvement not
      found with other testing methods.
    </ImageWithCaption>

    <div></div>
  </CollapsibleColumns>

  <Divider />

  <CollapsibleColumns marginTop="1.5rem">
    <div>
      <b>Online Resources</b>

      <InfoList>
        <InfoListItem>
          <ExternalLink
            href="https://www.freedomscientific.com/products/software/jaws/"
          >
            JAWS
          </ExternalLink>
        </InfoListItem>

        <InfoListItem>
          <ExternalLink href="https://www.nvaccess.org/">NVDA</ExternalLink>
        </InfoListItem>

        <InfoListItem>
          <ExternalLink
            href="https://support.apple.com/guide/voiceover/welcome/mac"
          >
            Voiceover
          </ExternalLink>
        </InfoListItem>

        <InfoListItem>
          <ExternalLink
            href="https://support.microsoft.com/en-us/windows/complete-guide-to-narrator-e4397a0d-ef4f-b386-d8ae-c172f109bdb1"
          >
            Narrator
          </ExternalLink>
        </InfoListItem>

        <InfoListItem>
          <ExternalLink
            href="https://support.google.com/accessibility/android/answer/6007100?hl=en"
          >
            Talkback
          </ExternalLink>
        </InfoListItem>
      </InfoList>
    </div>

    <div>
      <b>Neo Resources</b>

      <InfoList>
        <InfoListItem>
          <Link href="/accessibility/testing-tools">Testing Tools</Link>
        </InfoListItem>
      </InfoList>
    </div>
  </CollapsibleColumns>
</PageleteSubSection>
