---
import { Description, PageTitle, Topics } from "components";
---

<PageTitle>Buttons</PageTitle>

<Description>
  Buttons give people a way to trigger an action. They're typically found in
  forms, dialog panels, and dialogs. Some buttons are specialized for particular
  tasks, such as navigation, repeated actions, or presenting menus.
</Description>

<Description>
  For more information about adding Dark Mode to the Button Component, please
  visit the Themes page.
</Description>

<Topics>
  <li><a href="#playground">Interactive Playground</a></li>
  <li><a href="#anatomy">Anatomy</a></li>
  <li><a href="#type">Type</a></li>
  <li><a href="#text-label">Text Label</a></li>
</Topics>
