---
export interface Props {
  graphicIcon?: string;
  graphicAltText?: string;
  type?: string;
}
const {
  graphicIcon = "no data found",
  graphicAltText = "no data found",
  type = "no data found",
} = Astro.props as Props;

import { ImageWrapper } from "components";

import { Image } from "@avaya/neo-react";
import SectionList from "./SectionList.astro";
import FrameSubSection from "./FrameSubSection.astro";
---

<FrameSubSection>
  <ImageWrapper marginTop="0" marginBottom="0">
    <Image src={graphicIcon} alt={graphicAltText} width={408} />
  </ImageWrapper>

  <div>
    <h4 class="section-header">{type}</h4>

    <slot name="description" />

    <SectionList>
      <slot />
    </SectionList>
  </div>
</FrameSubSection>

<style>
  .section-header {
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 8px;
  }
</style>
