<div class="two-column-layout">
  <slot name="left-frame" />
  <slot name="right-frame" />
</div>

<style>
  .two-column-layout {
    margin-top: 48px;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 48px;
  }
</style>
