---
import { Image } from "@avaya/neo-react";
import {
  Description,
  ColumnLayout,
  PageleteSection,
  SectionHeader,
} from "components/astro";

import { topics } from "./topics";

import AnatomyImage from "./badge-imgs/anatomy.svg";
const anatomyImgAltText =
  "Image showing the different parts that make up a badge";
---

<PageleteSection>
  <SectionHeader id={topics.anatomy.id}>{topics.anatomy.title}</SectionHeader>

  <Description>
    Badges include the two components shown below. The number of the count can
    vary.
  </Description>

  <ColumnLayout bkgColor="white" numOfColumns={1}>
    <Image src={AnatomyImage} alt={anatomyImgAltText} />
  </ColumnLayout>

  <br />

  <ul>
    <li>
      <strong>1. Container:</strong> The container is left-justified (expands to
      the right) to hold all the digits in the number count.
    </li>
    <li>
      <strong>2. Number count:</strong> There is no limit to size of this value.
      The text is center-justified within the container.
    </li>
  </ul>
</PageleteSection>

<style>
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
</style>
