---
import { PageleteSection, SectionHeader } from "components";

import { topics } from "./topics";
const buttonPageUrl = "/components/buttons";
---

<PageleteSection>
  <SectionHeader id={topics.relatedContent.id}
    >{topics.relatedContent.title}
  </SectionHeader>

  <p class="related-content-label">Components</p>
  <ul>
    <li><a href={buttonPageUrl}>Button</a></li>
  </ul>
</PageleteSection>

<style>
  ul {
    list-style-type: "- ";
  }

  p.related-content-label {
    font-weight: bold;
  }
</style>
