/* TODO: fix these in css-lib */

body nav.neo-navbar {
  height: var(--header-height);
  min-height: var(--header-height);
}

body nav.neo-navbar .neo-nav--left {
  height: 100%;
  align-items: unset;
}

body nav.neo-navbar .neo-nav--left a {
  height: 3rem;
}

.neo-navbar {
  overflow: hidden;
}

nav.neo-navbar a.neo-nav-link-btn {
  padding: 0 16px;
}

nav.neo-navbar .neo-nav--left .neo-badge__navbutton {
  display: none;
  margin-top: 0px;
}

nav.neo-navbar .neo-nav--left .neo-badge__navbutton .topnav-menu-toggle {
  /* No equivalent to Avaya red in Neo design system */
  background-color: #da291c;
  border-radius: 0;
}

@media (max-width: 799px) {
  nav.neo-navbar {
    overflow: visible;
    margin-bottom: 3rem;
    border: none;
  }
  nav.neo-navbar .neo-nav {
    height: 3rem;
    border-bottom: 1px solid var(--navbar-border-bottom-color);
    border-top: 1px solid var(--navbar-border-bottom-color);
    justify-content: space-around;
  }
  nav.neo-navbar .neo-nav a.neo-nav-link-btn {
    padding: 0px;
    width: 25%;
    justify-content: center;
  }

  nav.neo-navbar .neo-nav--right {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 320px) {
  nav.neo-navbar .neo-nav {
    padding: 0 9px;
  }
  nav.neo-navbar .neo-nav a.neo-nav-link-btn {
    width: auto;
    justify-content: center;
  }
}

@media (max-width: 1279px) {
  nav.neo-navbar .neo-nav--right button.neo-btn {
    border: none;
  }
  nav.neo-navbar .neo-nav--left .neo-badge__navbutton {
    display: block;
  }
}
