/* TODO: fix these in css-lib */

body nav.neo-navbar {
  height: var(--header-height);
  min-height: var(--header-height);
  z-index: 100;
}

body nav.neo-navbar .neo-nav--left {
  height: 100%;
  align-items: unset;
}

body nav.neo-navbar .neo-nav--left a {
  height: 3rem;
}

body nav.neo-navbar .neo-nav--left .neo-badge__navbutton {
  height: var(--header-height);
}

.neo-navbar {
  overflow: hidden;
}

nav.neo-navbar a.neo-nav-link-btn {
  padding: 0 16px;
}

nav.neo-navbar .neo-nav--left .neo-badge__navbutton {
  display: none;
  margin-top: 0px;
}

nav.neo-navbar
  .neo-nav--left
  .neo-badge__navbutton
  .neo-badge__navbutton--content:before {
  color: var(--neo-color-base-0);
}

nav.neo-navbar .neo-nav--left .neo-badge__navbutton .topnav-menu-toggle {
  /* No equivalent to Avaya red in Neo design system */
  background-color: #da291c;
  border-radius: 0;
}

nav.neo-navbar .neo-nav--left .neo-badge__navbutton .topnav-menu-toggle:hover {
  cursor: pointer;
  background-color: var(--neo-color-red-600);
}

@media (max-width: 799px) {
  nav.neo-navbar .neo-nav--right button.neo-btn {
    border: none;
  }

  nav.neo-navbar {
    overflow: visible;
    border: none;
  }
  nav.neo-navbar .neo-nav {
    height: var(--header-height);
    border-bottom: 1px solid var(--navbar-border-bottom-color);
    border-top: 1px solid var(--navbar-border-bottom-color);
    justify-content: space-around;
    background-color: var(--global-background);
  }
  nav.neo-navbar .neo-nav a.neo-nav-link-btn {
    padding: 0px;
    width: 25%;
    justify-content: center;
  }

  nav.neo-navbar .neo-nav--right {
    display: flex;
    justify-content: flex-end;
  }
  body nav.neo-navbar .neo-nav--left a img {
    height: 48px;
  }
}

@media (max-width: 320px) {
  nav.neo-navbar .neo-nav {
    padding: 0 9px;
  }
  nav.neo-navbar .neo-nav a.neo-nav-link-btn {
    width: auto;
    justify-content: center;
  }

  .neo-navbar .neo-nav--right .search__button {
    justify-content: end;
  }
}

@media (max-width: 1280px) {
  nav.neo-navbar .neo-nav--left .neo-badge__navbutton {
    display: block;
  }
}
