.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.search-sheet-results {
  z-index: 2; /* TODO: fix in neo-css, should _not_ be 9999 */
  position: absolute;
  top: 50px;
  right: 32px;
}
