---
import { PageleteSubSection, SubHeader } from "components";

import InfoBlockLayout from "../InfoBlockLayout.astro";
import ThreeColumnLayout from "../ThreeColumnLayout.astro";

import observingImage from "../../../imgs/how-to-images/color-use-purple-1.svg";

const observingBlock = {
	image: observingImage.src,
	altText: "graphic representing greens use for an observing agent",
	header: "Supervisor and Observing Agents",
	description: "Related to messaging and states for these users.",
};
---

<PageleteSubSection>
  <SubHeader id="guidelies-color-howto-purple">Purple Color</SubHeader>

  <ThreeColumnLayout>
    <InfoBlockLayout
      graphicIcon={observingBlock.image}
      graphicAltText={observingBlock.altText}
      header={observingBlock.header}
      description={observingBlock.description}
    />

    <div></div>
    <div></div>
  </ThreeColumnLayout>
</PageleteSubSection>
