<div class="type-frame">
    <slot name="left-frame"/>
    <slot name="right-frame"/>
</div>

<style>
    .type-frame{
        margin-top: 16px;
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
    }
</style>