.left-navigation {
  min-width: 15rem;
  border-right: 1px solid var(--navbar-border-bottom-color);
  padding-top: 1.5rem;
}

[dir="rtl"] .left-navigation {
  border-right: none;
  border-left: 1px solid var(--navbar-border-bottom-color)
}

.left-navigation .neo-leftnav--wrapper .neo-leftnav .neo-leftnav__nav .neo-leftnav__main a {
  padding: 16px 32px 16px 40px
}

@media (max-width: 799px) {
  nav.neo-navbar {
    overflow: visible;
    margin-bottom: 3rem;
    border: none;
  }
  .left-navigation {
    position: absolute;
    transform: translate3d(-15rem, 0, 0);
    padding-top: 0;
    top: 0;
    bottom: 0;
    background-color: var(--leftnav-background-color);
    z-index: 9999;
  }
  .left-navigation.left-navigation--active {
    transition: transform 0.35s;
    transform: translate3d(0rem, 0, 0);
  }
  .left-navigation.left-navigation--hidden {
    transition: transform 0.35s;
    transform: translate3d(-15rem, 0, 0);
  }
}
