---
import { Image } from "@avaya/neo-react";

import { ImageWrapper } from "components";

import img1 from "./images/design-foundation.svg";
import img2 from "./images/ui-component-libraries.svg";
import img3 from "./images/icon-library.svg";
---

<div class="important-links-spacing-offset">
  <div class="neo-sheet links-container">
    <div class="important-link-container">
      <ImageWrapper marginTop="0" marginBottom="0" isShaded>
        <Image
          src={img1.src}
          alt="image showing a traingle in a circle in a square"
        />
      </ImageWrapper>

      <h4 class="image-header">
        <a href="/guidelines/overview">Design Foundations</a>
      </h4>

      <p class="description">
        A UX Design System that helps build consistent and exceptional user
        experiences.
      </p>
    </div>

    <div class="important-link-container">
      <ImageWrapper marginTop="0" marginBottom="0" isShaded>
        <Image
          src={img2.src}
          alt="image showing a traingle in a circle in a square"
        />
      </ImageWrapper>

      <h4 class="image-header">
        <a href="/components/accordion">UI Component Libraries</a>
      </h4>

      <p class="description">
        Code components for all of your most commonly used elements.
      </p>
    </div>

    <div class="important-link-container">
      <ImageWrapper marginTop="0" marginBottom="0" isShaded>
        <Image
          src={img3.src}
          alt="image showing a traingle in a circle in a square"
        />
      </ImageWrapper>

      <h4 class="image-header">
        <a href="/icons">Icon Library</a>
      </h4>

      <p class="description">
        An extensive collection of icons for almost every occasion.
      </p>
    </div>
  </div>
</div>

<style>
  .important-links-spacing-offset {
    display: flex;
    justify-content: center;
    margin-top: -5rem;
    margin-bottom: 5rem;
  }

  .important-links-spacing-offset .neo-sheet.links-container {
    z-index: 1; /* override sheet's z-index */
    background-color: var(--neo-color-base-0);
  }

  .important-links-spacing-offset .neo-sheet.links-containera:hover {
    text-decoration: underline;
  }

  .important-links-spacing-offset .links-container {
    justify-content: center;

    flex-direction: row;
    @media screen and (max-width: 1279px) {
      flex-direction: column;
    }
  }

  .important-links-spacing-offset .links-container .important-link-container {
    margin: 3rem 3rem 0 3rem;
    width: 13rem;

    @media screen and (max-width: 1279px) {
      flex-direction: column;
    }
  }

  .important-links-spacing-offset
    .links-container
    .important-link-container
    h4.image-header {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .important-links-spacing-offset
    .links-container
    .important-link-container
    p.description {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    color: var(--neo-color-base-1000);
  }
</style>
