---
import { Image } from "@avaya/neo-react";

import { Description, LinkButton } from "components";

import img1 from "./images/brand-new-light.svg";
import img2 from "./images/brand-new-dark.svg";
---

<div class="brand-new-container">
  <div class="brand-new-left-section">
    <div class="red-left-border-section">
      <h2 class="neo-bold">Brand. New.</h2>

      <Description>
        Neo provides extensive guides that help you build consistent and
        engaging customer experiences for all applications.
      </Description>
    </div>

    <div class="brand-new-buttons">
      <LinkButton href="/components/accordion">Component Libraries</LinkButton>
    </div>
  </div>

  <picture>
    <source media="(prefers-color-scheme: dark)" srcset={img2.src} />
    <Image
      alt="image of a phone with a video call on the screen"
      src={img1.src}
    />
  </picture>
</div>

<style>
  .brand-new-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 100px 0;
    @media screen and (max-width: 831px) {
      flex-direction: column-reverse;
      gap: 5rem;
    }
  }

  .brand-new-container .brand-new-left-section {
    max-width: 25rem;
  }

  .brand-new-container .brand-new-buttons {
    margin-left: 2.4rem;
  }

  .brand-new-container .brand-new-left-section .red-left-border-section {
    border-left: 5px solid var(--neo-color-red-500);
    padding-left: 2rem;
    @media (prefers-color-scheme: dark) {
      border-color: var(--neo-color-red-400);
    }
  }

  .brand-new-container
    .brand-new-left-section
    .red-left-border-section
    h2.neo-bold {
    margin-bottom: 1rem;
  }
</style>
