---
import { Image } from "@avaya/neo-react";

import { Description, LinkButton } from "components";

import img1 from "./images/build-together.svg";
---

<div class="build-together-container">
  <div class="build-together-left-section">
    <div class="red-left-border-section">
      <h2 class="neo-bold">Build Together</h2>

      <Description>
        We are a talented group who collaborate with other teams to bring
        success and value to the customer experience.
      </Description>
    </div>

    <div class="build-together-buttons">
      <LinkButton href="https://careers.avaya.com/" external>
        Join Our Team
      </LinkButton>
    </div>
  </div>

  <Image
    src={img1.src}
    alt="image of a webpage showing multiple people's cursors working together on a project"
  />
</div>

<style>
  .build-together-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 100px 0;
    @media screen and (max-width: 831px) {
      flex-direction: column-reverse;
      gap: 5rem;
    }
  }

  .build-together-container > img {
    max-width: 30rem;
    margin-top: -10rem;
    @media screen and (max-width: 831px) {
      max-width: 25rem;
      margin-top: 0;
    }
  }

  .build-together-container .build-together-left-section {
    max-width: 25rem;
  }

  .build-together-container .build-together-buttons {
    margin-left: 2.4rem;
  }

  .build-together-container
    .build-together-left-section
    .red-left-border-section {
    border-left: 5px solid var(--neo-color-red-500);
    padding-left: 2rem;
    @media (prefers-color-scheme: dark) {
      border-color: var(--neo-color-red-400);
    }
  }

  .build-together-container
    .build-together-left-section
    .red-left-border-section
    h2.neo-bold {
    margin-bottom: 1rem;
  }
</style>
