/* TEMP: TODO: remove this once update is made in neo-css */
@media (prefers-color-scheme: dark) {
  .neo-accordion .neo-accordion__header > button.neo-accordion__header-text {
    color: var(--global-font-color);
  }

  .neo-accordion
    .neo-accordion__header
    > button.neo-accordion__header-text:hover {
    color: var(--neo-color-base-900);
  }
}

/*
  NOTE: our classes are shrinking the accordion's innapropriately,
  thus, manually setting width here so that it displays correctly
*/
.neo-accordion,
.dpv3-accordion-stack {
  width: 100%;
}

/* NOTE: this is just for making it look slightly better, per Matt's instructions */
.dpv3-accordion-stack,
.neo-accordion__item {
  margin-bottom: 0.5rem;
}
