---
import { PageleteSection, SectionHeader } from "components/astro";

import { topics } from "../static";
---

<PageleteSection>
  <SectionHeader id={topics.related.id}>{topics.related.title}</SectionHeader>

  <div>Components</div>

  <ul>
    <!-- TODO: add links once those pages are completed -->
    <li>Widget</li>
    <li>Tree View</li>
  </ul>
</PageleteSection>

<style>
  div {
    font-weight: bold;
  }

  ul {
    list-style-type: "- ";
  }
</style>
