---
import { Description, PageleteSection, PageTitle, Topics } from "components";

import { topics } from "../static";
---

<PageleteSection>
  <PageTitle>Notifications</PageTitle>

  <Description>
    Notifications are used to communicate with users, providing real time
    feedback on high level and priority items requiring immediate attention.
  </Description>

  <Description>
    Note that in order to make this Component accessible the
    <a
      href="https://www.w3.org/TR/wai-aria-practices/examples/alert/alert.html"
    >
      W3 Alert Guidelines
    </a>
    should be followed. Make sure you set the aria-live to either "polite" or "assertive".
  </Description>

  <Topics topics={topics} />
</PageleteSection>
