---
import {
  Description,
  PageleteSection,
  SectionHeader,
  InfoTableBody,
  InfoTableCell,
  InfoTableRow,
} from "components";

import { TypographyTable } from "../components";

import { topics } from "../static";

const { id, title } = topics.spacers;
---

<PageleteSection>
  <SectionHeader id={id}>{title}</SectionHeader>

  <Description>
    Spacers help evenly distribute the content in your UI designs.
  </Description>

  <TypographyTable head1="Token Name" head2="Example" head3="Description">
    <InfoTableBody>
      <InfoTableRow>
        <InfoTableCell>$global-spacer-small</InfoTableCell>
        <InfoTableCell><div class="square square-small"></div></InfoTableCell>
        <InfoTableCell>Global spacer small</InfoTableCell>
      </InfoTableRow>
      <InfoTableRow>
        <InfoTableCell>$global-spacer-regular</InfoTableCell>
        <InfoTableCell><div class="square square-regular"></div></InfoTableCell>
        <InfoTableCell>Global spacer regular</InfoTableCell>
      </InfoTableRow>
      <InfoTableRow>
        <InfoTableCell>$global-spacer-large</InfoTableCell>
        <InfoTableCell><div class="square square-large"></div></InfoTableCell>
        <InfoTableCell>Global spacer large</InfoTableCell>
      </InfoTableRow>
      <InfoTableRow>
        <InfoTableCell>$global-spacer-x-large</InfoTableCell>
        <InfoTableCell><div class="square square-x-large"></div></InfoTableCell>
        <InfoTableCell>Global spacer extra large</InfoTableCell>
      </InfoTableRow>
    </InfoTableBody>
  </TypographyTable>
</PageleteSection>
