---
import {
  Description,
  PageleteSection,
  PageTitle,
  Topics,
} from "components/astro";
import { topics } from "../static";
---

<PageleteSection marginTop="0rem">
  <PageTitle>Shimmer</PageTitle>

  <Description>
    A shimmer is an animated placeholder that shows users that the page’s
    contents are still loading and not yet actionable. Areas that have already
    been loaded are actionable immediately.
  </Description>

  <Description>
    For more information about adding Dark Mode to the Shimmer Component, please
    visit the Neo <a href="/components/theme">Theme page</a>.
  </Description>

  <Topics topics={topics} />
</PageleteSection>
