---
import { Description } from "components/astro";

export interface Props {
  title?: string | undefined;
}

const { title = "" } = Astro.props as Props;
---

<div>
  <h4 class="image-header neo-semibold">{title}</h4>

  <Description><slot /></Description>
</div>
