---
export interface Props {
  numOfColumns: number;
  gap: string;
}

const { numOfColumns, gap } = Astro.props as Props;
---

<div class="variable-grid-columns">
  <slot />
</div>

<style define:vars={{ numOfColumns, gap }}>
  .variable-grid-columns {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--numOfColumns), 1fr);
  }
</style>
