---
export interface Props {
  numOfColumns: number;
}

const { numOfColumns } = Astro.props as Props;
---

<div class="variable-grid-columns">
  <slot />
</div>

<style define:vars={{ numOfColumns }}>
  .variable-grid-columns {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(var(--numOfColumns), 1fr);
  }
</style>
