---
export interface Props {
  numOfColumns: number;
}

const { numOfColumns } = Astro.props as Props;

let columnTemplate ="1fr"; // default is 1 column if invalid number of columns is provided.
let i = 1;

while (numOfColumns > 0 && i < numOfColumns) {
  columnTemplate += " 1fr";
  i++;
}
---

<div class="variable-grid-columns">
  <slot />
</div>

<style define:vars={{columnTemplate}}>
  .variable-grid-columns {
    display: grid;
    gap: 1rem;
    grid-template-columns: var(--columnTemplate) ;
  }
</style>
