---
export interface Props {
  marginTop?: string;
  marginBottom?: string;
  numOfColumns: number;
  gap?: string;
  bkgColor?: string;
}

const {
  marginTop = "0",
  marginBottom = "0",
  numOfColumns,
  gap = "0",
  bkgColor = "transparent",
} = Astro.props as Props;
---

<div class="variable-grid-columns">
  <slot />
</div>

<style define:vars={{ marginTop, marginBottom, numOfColumns, gap, bkgColor }}>
  .variable-grid-columns {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--numOfColumns), 1fr);
    background-color: var(--bkgColor);
    margin-top: var(--marginTop);
    margin-bottom: var(--marginBottom);
  }
</style>
