---
export interface Props {
  numOfColumns: number;
  gap?: string;
  bkgColor?: string;
}

const {
  numOfColumns,
  gap = "0",
  bkgColor = "transparent",
} = Astro.props as Props;
---

<div class="variable-grid-columns">
  <slot />
</div>

<style define:vars={{ numOfColumns, gap, bkgColor }}>
  .variable-grid-columns {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--numOfColumns), 1fr);
    background-color: var(--bkgColor);

    margin-bottom: 1.5rem;
  }
</style>
