---
import clsx from "clsx";
export interface Props {
  showBorders?: boolean;
  isShaded?: boolean;
  marginTop?: string;
  marginBottom?: string;
  padding?: string;
}
const {
  isShaded = false,
  showBorders = true,
  marginTop = "3rem",
  marginBottom = "1.5rem",
  padding = "8rem 2rem",
} = Astro.props as Props;
---

<div
  class={clsx(
    "image-centered",
    showBorders && "show-borders",
    isShaded && "image-wrapper--shaded"
  )}
>
  <slot />
</div>

<style define:vars={{ marginTop, marginBottom, padding }}>
  .image-centered {
    background-color: var(--neo-color-base-0);

    padding: var(--padding);
    margin-top: var(--marginTop);
    margin-bottom: var(--marginBottom);

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .show-borders {
    border: 1px solid var(--neo-color-base-200);
  }

  div.image-wrapper--shaded {
    background-color: var(--neo-color-base-100);
  }
</style>
