---
import clsx from "clsx";
export interface Props {
	showBorders?: boolean;
	isShaded?: boolean;
	marginTop?: string;
	marginBottom?: string;
	padding?: string;
	isRounded?: boolean;
}
const {
	isShaded = false,
	showBorders = true,
	marginTop = "3rem",
	marginBottom = "1.5rem",
	padding = "2.5rem 1.5rem",
	isRounded = true,
} = Astro.props as Props;
---

<div
  class={clsx(
    "image-centered",
    showBorders && "show-borders",
    isShaded && "image-wrapper--shaded",
    !isRounded && "no-rounded-corners",
  )}
>
  <slot />
</div>

<style define:vars={{ marginTop, marginBottom, padding }}>
  .image-centered {
    background-color: var(--neo-color-base-0);

    padding: var(--padding);
    margin-top: var(--marginTop);
    margin-bottom: var(--marginBottom);

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .no-rounded-corners :global(img) {
    border-radius: initial;
  }

  .show-borders {
    border: 1px solid var(--neo-color-base-200);
  }

  div.image-wrapper--shaded {
    background-color: var(--neo-color-base-100);
  }
</style>
