---
import clsx from "clsx";
export interface Props {
  showBorders?: boolean;
  isShaded?: boolean;
}

const { isShaded = false, showBorders = true } = Astro.props as Props;
---

<div
  class={clsx(
    "image-centered",
    showBorders && "show-borders",
    isShaded && "image-wrapper--shaded"
  )}
>
  <slot />
</div>

<style>
  .image-centered {
    background-color: var(--neo-color-base-0);

    padding: 8rem 2rem;
    margin-bottom: 1.5rem;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .show-borders {
    border: 1px solid var(--neo-color-base-200);
  }

  div.image-wrapper--shaded {
    background-color: var(--neo-color-base-100);
  }
</style>
