<div class="wrapper">
  <slot />
</div>

<style>
  .wrapper {
    background-color: var(--neo-color-base-0);
    border: 1px solid var(--neo-color-base-200);

    padding: 8rem 2rem;
    margin-bottom: 2rem;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
</style>
