---
import clsx from "clsx";
import type { PageAstroInstance } from "helpers/types";

export interface Props {
  pages: PageAstroInstance[];
}

const { pages } = Astro.props as Props;

const { pathname } = Astro.url;

const componentPage = pathname.includes("components");
let filteredPages: PageAstroInstance[] = [];

if (componentPage) {
  filteredPages = pages.filter((page) => page.url?.includes("components"));
}
---

<div class="left-navigation" id="left-navigation">
  <div class="neo-leftnav--wrapper">
    <nav class="neo-leftnav">
      <ul class="neo-leftnav__nav">
        {
          filteredPages.map((page) => (
            <li
              class={clsx(
                "neo-leftnav__main",
                page.url && pathname === page.url && "neo-leftnav__main--active"
              )}
            >
              <a aria-label={page.title} href={page.url}>
                {page.title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</div>

<style>
  .left-navigation {
    min-width: 15rem;
    border-right: 1px solid var(--navbar-border-bottom-color);
    padding-top: 1.5rem;
  }

  [dir="rtl"] .left-navigation {
    border-right: none;
    border-left: 1px solid var(--navbar-border-bottom-color);
  }

  .left-navigation
    .neo-leftnav--wrapper
    .neo-leftnav
    .neo-leftnav__nav
    .neo-leftnav__main
    a {
    padding: 1rem 2rem 1rem 2.5rem;
  }

  .left-navigation + .left-navigation-scrim {
    display: none;
  }

  @media (max-width: 799px) {
    nav.neo-navbar {
      overflow: visible;
      margin-bottom: 3rem;
      border: none;
    }
    .left-navigation {
      position: absolute;
      transform: translate3d(-15rem, 0, 0);
      padding-top: 0;
      top: 0;
      bottom: 0;
      background-color: var(--leftnav-background-color);
      z-index: 9999;
    }
    .left-navigation.left-navigation--active {
      transition: transform 0.35s;
      transform: translate3d(0rem, 0, 0);
    }
    .left-navigation.left-navigation--hidden {
      transition: transform 0.35s;
      transform: translate3d(-15rem, 0, 0);
    }
    .left-navigation.left-navigation--active + .left-navigation-scrim {
      display: block;
      position: absolute;
      width: 100vw;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 9998;
    }
  }
</style>
