---
import clsx from "clsx";

export interface Props {
  href: string;
  external?: boolean;
  variant?: "primary" | "secondary" | "tertiary";
}

const { href, external = false, variant = "primary" } = Astro.props as Props;
---

<a
  class={clsx(
    "neo-nav-link-btn neo-btn",
    variant === "primary" && "neo-btn-primary neo-btn-primary--default",
    variant === "secondary" && "neo-btn-secondary neo-btn-secondary--default",
    variant === "tertiary" && "neo-btn-tertiary neo-btn-tertiary--default",
  )}
  href={href}
  target={external ? "_blank" : undefined}
  rel={external ? "noopener noreferrer" : undefined}
>
  <slot />
</a>

<style>
  a.neo-nav-link-btn.neo-btn:hover {
    text-decoration: none;
  }
</style>
