---
export interface Props {
  marginTop?: string;
  marginBottom?: string;
}

const { marginTop = "0", marginBottom = "96px" } = Astro.props as Props;
---

<section class="pagelete-section">
  <slot />
</section>

<style define:vars={{ marginTop, marginBottom }}>
  .pagelete-section {
    margin-top: var(--marginTop);
    margin-bottom: var(--marginBottom);
  }
</style>
