---
export interface Props {
  topMargin?: string;
  bottomMargin?: string;
}

const { topMargin= "0", bottomMargin = "4rem" } = Astro.props as Props;
---

<section class="pagelete-section">
  <slot />
</section>

<style define:vars={{ topMargin, bottomMargin }}>
  .pagelete-section {
    margin-top: var(--topMargin);
    margin-bottom: var(--bottomMargin);
  }
</style>
