---
import { SectionHeader } from "components/astro";

export interface Props {
  id: string;
}

const { id } = Astro.props as Props;
---
<section>
  <SectionHeader id={id}><slot name="section-title" /></SectionHeader>
  <slot name="section-content"/>
</section>
