---
import { SectionHeader } from "components/astro";

export interface Props {
  id: string;
  title: string;
}

const { id, title } = Astro.props as Props;
---
<section>
  <SectionHeader id={id}>{title}</SectionHeader>
  <slot/>
</section>
