---
import { CopyToClipboard } from "components/react";

import { RowAlignmentContainer, LinkButton } from"components/astro";

export interface Props {
  id: string;
  buttonLink?: string;
}

const { id, buttonLink } = Astro.props as Props;
const { url } = Astro.request;

const fullSectionURL = `${url}#${id}`;
---

<RowAlignmentContainer>
  <div class="section-header__wrapper">
    <h2 class="neo-bold" id={id}><slot /></h2>
    <CopyToClipboard text={fullSectionURL} client:load />
  </div>
  { buttonLink && <LinkButton href="/components/accordion" variant="secondary" size="compact">Visit Accordion Component</LinkButton> }
</RowAlignmentContainer>

<style>
  h2.neo-bold {
    scroll-margin-top: 4rem;
  }
  .section-header__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .section-header__link {
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }

  [dir="rtl"] .section-header__link {
    margin-left: 0px;
    margin-right: 0.5rem;
  }
</style>
