---
export interface Props {
  label?: string;
  marginTop?: string;
  marginBottom?: string;
}

const {
  marginTop = "1.5rem",
  marginBottom = "1.5rem",
  label,
} = Astro.props as Props;
---

<div class="stack-container">
  {label && <div class="label-text">{label}</div>}

  <slot />
</div>

<style define:vars={{ marginTop, marginBottom }}>
  div.stack-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--neo-color-base-200);
    margin-top: var(--marginTop);
    margin-bottom: var(--marginBottom);
  }

  div.stack-container > * {
    flex-grow: 0;
    flex-shrink: 0;
    width: max-content;
  }

  div.stack-container > :global(div.label-text) {
    width: 100%;
    padding: 0px 40px;
    color: var(--neo-color-base-1000);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    border: none;
  }
</style>
