---
import { Image } from "@avaya/neo-react";
---

<footer class="footer--wrapper">
  <div class="footer__text--align">
    <Image src="/imgs/footer-logo.svg" alt="Avaya logo" />
  </div>

  <div class="footer__links--wrapper">
    <a target="_blank" href="https://www.avaya.com/en/termsofuse/">
      Terms of Use
    </a>

    <a href="https://design.avayacloud.com/license" target="_blank">License</a>

    <a target="_blank" href="https://www.avaya.com/en/privacy/commitment/">
      Privacy
    </a>

    <a target="_blank" href="https://www.avaya.com/en/trademarks/">
      Trademarks
    </a>

    <a target="_blank" href="https://www.avaya.com/en/accessibility/">
      Accessibility
    </a>

    <a target="_blank" href="https://careers.avaya.com">Careers</a><a
      target="_blank"
      href="https://forms.office.com/pages/responsepage.aspx?id=bGOiBG0y_0iT-HCYdb06qT1-i9aD1eBFrVsGJdw_BopUMDkyT1o5R1lXR0dZM1o4OVlFMktWU0ZPUy4u"
    >
      Newsletter
    </a>
  </div>

  <div class="footer__text--align">
    <p class="neo-body-tiny neo-italic">
      &copy; {new Date().getFullYear()} Avaya, Inc.
    </p>
  </div>
</footer>

<style>
  .footer--wrapper {
    border-top: 1px solid var(--neo-color-base-600);
    display: flex;
    justify-content: space-between;
    height: var(--footer-height);
  }

  .footer__text--align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 48px;
    padding-right: 48px;
  }

  .footer__links--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
  }

  .footer__links--wrapper a {
    font-size: var(--neo-body-small-font-size);
    line-height: var(--neo-body-small-line-height);
  }
</style>
