<nav class="neo-navbar">
  <div class="neo-nav--left">
    <a href="/">
      <picture>
        <source media="(max-width: 1024px)" srcset="/imgs/logo-mobile.svg" />
        <source media="(max-width: 1440px)" srcset="/imgs/logo-condensed.svg" />
        <img src="/imgs/logo-full.svg" alt="Avaya Logo" />
      </picture>
    </a>
  </div>

  <div class="neo-nav">
    <a class="neo-nav-link-btn" href="/components-placeholder">Components</a>
  </div>
</nav>

<style>
  .neo-nav--left {
    display: flex;
    align-items: center;
  }

  .neo-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  .neo-nav-link-btn {
    margin-right: 1rem;
  }
  .neo-navbar .neo-nav .neo-nav-link-btn:active {
    color: #000;
  }
</style>
