---
import { Image } from "@avaya/neo-react";

// this section needs to be refactored as part of NEO-2104
export interface Props {
  leftMargin?: string;
}

const { leftMargin = "15rem" } = Astro.props as Props;
---

<footer class="footer--wrapper">
  <div class="footer-logo">
    <Image
      src="/imgs/footer-logo.svg"
      alt="Avaya logo"
      className="small-logo-img"
    />
  </div>

  <div class="footer__links--wrapper">
    <a target="_blank" href="https://www.avaya.com"> Avaya.com</a>

    <a target="_blank" href="https://www.avaya.com/en/termsofuse/">
      Terms of Use
    </a>

    <a href="https://design.avayacloud.com/license" target="_blank">License</a>

    <a target="_blank" href="https://www.avaya.com/en/privacy/commitment/">
      Privacy
    </a>

    <a target="_blank" href="https://www.avaya.com/en/trademarks/">
      Trademarks
    </a>

    <a target="_blank" href="https://www.avaya.com/en/accessibility/">
      Accessibility
    </a>

    <a target="_blank" href="https://careers.avaya.com">Careers</a>

    <a
      target="_blank"
      href="https://teams.microsoft.com/l/channel/19%3A0c670e994bea49d3b3fd053761191c8c%40thread.tacv2/Neo%20-%20New%20Requests?groupId=172efbe2-ae64-4652-8f08-de11e90b9230&tenantId="
    >
      Feedback
    </a>

    <a
      target="_blank"
      href="https://forms.office.com/pages/responsepage.aspx?id=bGOiBG0y_0iT-HCYdb06qT1-i9aD1eBFrVsGJdw_BopUMDkyT1o5R1lXR0dZM1o4OVlFMktWU0ZPUy4u"
    >
      Newsletter
    </a>
  </div>

  <div class="footer-copyright">
    <p class="neo-body-tiny neo-italic">
      &copy; {new Date().getFullYear()} Avaya LLC.
    </p>
  </div>
</footer>

<style
  define:vars={{
    leftMargin,
  }}
>
  .footer--wrapper {
    border-top: 1px solid var(--navbar-border-bottom-color);
    display: grid;
    gap: 0;
    grid-auto-rows: var(--footer-height);
    grid-template-areas: "a b c";
    padding: 0 1rem;
  }
  @media (min-width: 1280px) {
    :global(.main__wrapper:has(.left-navigation) + .footer--wrapper) {
      margin-left: var(--leftMargin);
    }
  }

  .footer-logo {
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .footer-logo img.small-logo-img {
    height: calc(var(--footer-height) / 2);
  }

  .footer__links--wrapper {
    grid-area: b;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-copyright {
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .footer__links--wrapper a {
    font-size: var(--neo-body-small-font-size);
    line-height: var(--neo-body-small-line-height);
    color: var(--neo-color-base-800);
  }
  @media (prefers-color-scheme: dark) {
    .footer__links--wrapper a {
      color: var(--neo-color-base-100);
    }
  }

  @media (max-width: 1000px) {
    .footer--wrapper {
      grid-template-areas:
        "a b"
        "c b"
        ". b";
      padding: 1rem;
    }

    .footer-logo {
      display: unset;
      flex-direction: unset;
      justify-content: unset;
      align-items: unset;
    }

    .footer__links--wrapper {
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
    }

    .footer-copyright {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
    }
  }
</style>
