---
export interface Props {
  gap?: string;
  vPadding?: string;
}

const { gap = "3rem", vPadding = "3rem" } = Astro.props as Props;
---

<div class="stack-container">
  <slot />
</div>

<style define:vars={{ gap, vPadding }}>
  div.stack-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
    padding-top: var(--vPadding);
    padding-bottom: var(--vPadding);
  }

  div.stack-container > * {
    flex-grow: 0;
    flex-shrink: 0;
    width: max-content;
  }
</style>
