---
import clsx from "clsx";

export interface Props {
  gap?: string;
  isShaded?: boolean;
  label?: string;
  vMargin?: string;
  vPadding?: string;
}

const {
  gap = "3rem",
  isShaded = false,
  label = "",
  vMargin = "0",
  vPadding = "3rem",
} = Astro.props as Props;
---

<div class={clsx("stack-container", isShaded && "stack-container--shaded")}>
  {label && <div class="label-text">{label}</div>}
  <slot />
</div>

<style define:vars={{ gap, vMargin, vPadding }}>
  div.stack-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
    padding-top: var(--vPadding);
    padding-bottom: var(--vPadding);
    margin-top: var(--vMargin);
    margin-bottom: var(--vMargin);
  }
  div.stack-container.stack-container--shaded {
    background-color: var(--neo-color-base-100);
  }

  div.stack-container > * {
    flex-grow: 0;
    flex-shrink: 0;
    width: max-content;
  }

  div.stack-container > :global(div.label-text) {
    width: 100%;
    padding: 0px 40px;
    color: var(--neo-color-base-1000);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    border: none;
  }
</style>
