---
export interface Props {
  id: string;
}

const { id } = Astro.props as Props;
const { url } = Astro.request;

const fullTopicURL = `${url}#${id}`;
---

<li><a href={fullTopicURL}><slot /></a></li>
