.theme-playground-example {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.theme-playground-example
  .neo-accordion__header
  > .neo-accordion__header-text:hover,
.theme-playground-example
  .neo-accordion
  .neo-accordion__header
  > button.neo-accordion__header-text:not(:disabled):hover {
  background-color: var(--accordion-body-color);
  color: var(--global-font-color);
  transition: none;
}
