.code-container {
  position: relative;
  display: flex;
  background-color: var(--neo-color-blue-900);
  min-height: 5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.code-container code {
  white-space: pre;
}

.code-container .copy-button {
  position: fixed;
  right: 2rem;
  top: 4.5rem;
}

@media (max-width: 799px) {
  .code-container {
    flex-direction: column;
    padding-top: 51px;
  }
  .code-container pre {
    white-space: pre-wrap;
  }
}

@media (max-width: 668px) {
  .code-container .copy-button {
    position: fixed;
    right: 2rem;
    top: 6rem;
  }
}