.stepper-playground-wrapper-horizontal {
	height: 6rem;
	width: 100%;
}

.stepper-playground-wrapper-vertical {
	height: 15rem;
	width: 8rem;
}

.stepper-playground-wrapper-vertical .neo-stepper--vertical__item {
	height: 88px;
}
