---
import { Layout } from "layouts";
import { PageTitle, Description } from "components";
import { Button } from "@avaya/neo-react";
---

<Layout title="Welcome to Astro.">
  <PageTitle>Buttons</PageTitle>

  <Description>Buttons Page</Description>

  <Button>Example</Button>
  <Button>Example</Button>
  <Button>Example</Button>
</Layout>
