---
import { Layout } from "layouts";
import { PageTitle, Description } from "components";
import { Button } from "@avaya/neo-react";

export const title = "Button Component";
export const description = "The Neo Button component";
---

<Layout title="Buttons">
  <PageTitle>Buttons</PageTitle>

  <Description>Buttons Page</Description>

  <Button>Example</Button>
  <Button>Example</Button>
  <Button>Example</Button>
</Layout>
