---
import { Layout } from "layouts";
import { PageTitle, Description } from "components";
import { Button } from "@avaya/neo-react";
---

<Layout title="Welcome to Astro.">
  <PageTitle>Components Placeholder</PageTitle>

  <Description>
    Placeholder page. Will most likely become the "Setup" page.
  </Description>

  <Button>Example</Button>
  <Button>Example</Button>
  <Button>Example</Button>
</Layout>
