---
import {
	CollapsibleColumns,
	Description,
	Divider,
	ExternalLink,
	ImageWithCaption,
	InfoList,
	InfoListItem,
	PageleteSubSection,
	SubHeader,
} from "components";

import img1 from "../../imgs/product-development-additional-1.svg";
import img2 from "../../imgs/product-development-additional-2.svg";
import img3 from "../../imgs/product-development-additional-3.svg";
---

<PageleteSubSection>
  <SubHeader id="ptg-development-additional-content">
    Additional Content
  </SubHeader>

  <Description>
    In addition to the above guidelines, other items can affect users with
    disabilities.
  </Description>

  <CollapsibleColumns>
    <ImageWithCaption
      imgSrc={img1.src}
      imgAlt="Image showing a placeholder with a play button next to it"
      captionTitle="Avoid Auto Playing Media"
    >
      Media that begins playing automatically upon loading a page can be
      confusing and distracting for users with cognitive disabilities. It can
      also conflict with users who are using screen readers, and may trigger
      seizures or other reactions for some conditions. Audio and video should
      not be played by default if possible. If it is played for more than 3
      seconds, there needs to be a mechanism for users to pause or stop the
      media. The same applies for moving, blinking, scrolling and auto updating
      information.
    </ImageWithCaption>

    <ImageWithCaption
      imgSrc={img2.src}
      imgAlt="Image showing showing an hourglass"
      captionTitle="Allow For Extended Timing"
    >
      Content with time limits can pose a challenge for users with disabilities
      who may require additional time to react. If the timer cannot be removed,
      allow the timer to be adjusted or extended to provide sufficient time to
      complete the action. For all timers, providing significant notice before
      time runs out is also beneficial.
    </ImageWithCaption>
  </CollapsibleColumns>

  <CollapsibleColumns>
    <ImageWithCaption
      imgSrc={img3.src}
      imgAlt="Image showing a blinking light"
      captionTitle="Ensure Blinking or Flashing is Less Than 3 Times Per Second"
    >
      Items that flash more than 3 times per second can trigger seizures. Ensure
      any animations or interactions stay below the threshold (e.g. flash no
      more than once or twice per second).
    </ImageWithCaption>

    <div></div>
  </CollapsibleColumns>

  <Divider />

  <CollapsibleColumns marginTop="1.5rem">
    <div>
      <b>Online Resources</b>

      <InfoList>
        <InfoListItem>
          <ExternalLink
            href="https://www.w3.org/WAI/WCAG22/Understanding/audio-control.html"
          >
            WCAG Requirement 1.4.2 - Audio Control
          </ExternalLink>
        </InfoListItem>

        <InfoListItem>
          <ExternalLink
            href="https://www.w3.org/WAI/WCAG22/Understanding/timing-adjustable.html"
          >
            WCAG Requirement 2.2.1 - Timing Adjustable
          </ExternalLink>
        </InfoListItem>

        <InfoListItem>
          <ExternalLink
            href="https://www.w3.org/WAI/WCAG22/Understanding/pause-stop-hide.html"
          >
            WCAG Requirement 2.2.2 - Pause, Stop, Hide
          </ExternalLink>
        </InfoListItem>

        <InfoListItem>
          <ExternalLink
            href="https://www.w3.org/WAI/WCAG22/Understanding/three-flashes-or-below-threshold.html"
          >
            WCAG Requirement 2.3.1 - Three Flashes or Below Threshold
          </ExternalLink>
        </InfoListItem>
      </InfoList>
    </div>

    <div></div>
  </CollapsibleColumns>
</PageleteSubSection>
