---
import {
  CollapsibleColumns,
  Description,
  PageleteSubSection,
  SubHeader,
} from "components";
---

<PageleteSubSection>
  <SubHeader id="ptg-development-keyboard">Keyboard</SubHeader>

  <Description>
    Users with limited mobility may navigate using the keyboard or other
    assistive technologies, such as switch devices and voice recognition. As
    these tools emulate keyboard functions, all elements within the application
    must be reachable using the keyboard alone. This applies to all devices
    including mobile.
  </Description>

  <CollapsibleColumns>
    <div>one</div>

    <div>two</div>
  </CollapsibleColumns>
</PageleteSubSection>
