---
import { Link } from "@avaya/neo-react";

import { Layout } from "layouts";
---

<Layout title="404 Error">
  <section>
    Whoops, this page doesn't exist, use <Link href="/">this link</Link> to return
    home
  </section>
</Layout>
