---
import { Layout } from "layouts";
import { PageTitle, Description } from "components";
import { Button } from "@avaya/neo-react";
---

<Layout title="Welcome to Astro.">
  <main>
    <PageTitle>Placeholder</PageTitle>

    <Description>
      Neo is a library of flexible design components and guidelines, built upon
      our core principles and ready to be integrated into your digital products.
    </Description>

    <Button>Getting Started</Button>
  </main>
</Layout>
