---
import { Layout } from "layouts";
import { PageTitle, Description } from "components";
import { Button } from "@avaya/neo-react";

export const title = "FAQs";
export const description = "Frequently asked questions";
---

<Layout title="FAQs">
  <PageTitle>FAQs Placeholder</PageTitle>

  <Description>Lorem Ipsum</Description>

  <Button>Example</Button>
  <Button>Example</Button>
  <Button>Example</Button>
</Layout>
