---
import { Layout } from "layouts";
import { PageTitle, Description } from "components";
import { Button } from "@avaya/neo-react";

export const title = "Icons";
export const description = "A collection of icons";
---

<Layout title="Welcome to Astro.">
  <PageTitle>Icons Placeholder</PageTitle>

  <Description>Lorem Ipsum</Description>

  <Button>Example</Button>
  <Button>Example</Button>
  <Button>Example</Button>
</Layout>
