---
export const title = "Icons";
export const keywords = "A collection of icons";

import { Layout } from "layouts";
import { Intro, IconLibrary, IconActions } from "pageletes/icons";

import { iconCategories } from "pageletes/icons";

const sortedCategories = iconCategories.sort((a, b) => (a > b ? 1 : -1));
---

<Layout title="Icons">
  <div class="icons-page-wrapper">
    <Intro />

    <IconActions />

    <IconLibrary allCategories={sortedCategories} client:load />
  </div>
</Layout>

<style>
  @media (max-width: 1280px) {
    .icons-page-wrapper {
      margin-left: 3.5rem;
    }
  }
</style>
