---
import { Layout } from "layouts";
import { PageTitle, Description } from "components";
import { Button } from "@avaya/neo-react";

export const title = "Homepage";
export const description = "This is the landing page for Neo";
---

<Layout title="Welcome to Astro.">
  <PageTitle>Introducing Neo</PageTitle>

  <h2>Avaya's Design System</h2>

  <Description>
    Neo is a library of flexible design components and guidelines, built upon
    our core principles and ready to be integrated into your digital products.
  </Description>

  <Button>Getting Started</Button>
</Layout>
