---
export interface Props {
  title: string;
  section: string[];
}

const { title = "no Title", section = [] } = Astro.props as Props;
---

<h4 class="changelog-header">{title}</h4>
<ul>
  {
    section.length > 0 ? (
      section.map((point) => <li set:html={point} />)
    ) : (
      <li>N/A</li>
    )
  }
</ul>

<style is:global>
  .changelog-emphasis {
    background: var(--neo-color-base-100);
    color: red;
    font-family: monospace !important;
    font-style: normal;
  }

  .changelog-header {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  ul {
    padding-top: 8px;
    margin-left: 8px;
    margin-bottom: 16px;
  }

  li {
    list-style-position: inside;
    line-height: 24px;
  }
</style>
