---
export interface Props {
  title: string;
  points: string[];
}

const { title = "no Title", points = [] } = Astro.props as Props;

onst marginLeft = "1rem";
---

<h4 class="changelog-header">{title}</h4>
<ul>
  {
    points.length > 0 ? (
      points.map((point) => <li set:html={point} />)
    ) : (
      <li>N/A</li>
    )
  }
</ul>

<style>
  .changelog-header {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  ul {
    padding-top: 8px;
    margin-left: 1.5rem;
    margin-bottom: 16px;
  }

  li {
    line-height: 24px;
  }
</style>
