---
import { InfoList, InfoListItem } from "components";

export interface Props {
  title: string;
  points: string[];
}

const { title = "no Title", points = [] } = Astro.props as Props;
---

<h4 class="changelog-header">{title}</h4>
<InfoList>
  {
    points.length > 0 ? (
      points.map((point) => <InfoListItem>{point}</InfoListItem>)
    ) : (
      <InfoListItem>N/A</InfoListItem>
    )
  }
</InfoList>

<style>
  .changelog-header {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
</style>
