---
import {
  Description,
  PageleteSection,
  SectionHeader,
  InfoList,
  InfoListItem,
} from "components";

import { ExternalLink } from "../components";

import { topics } from "../static";
import { Link } from "@avaya/neo-react";
const { id, title } = topics["getting-started"];
---

<PageleteSection>
  <SectionHeader id={id}>{title}</SectionHeader>
  <Description>
    There are many things to consider when creating accessible applications.
    Some important ones are listed below. Refer to
    <ExternalLink href="https://www.w3.org/WAI/policies/">WCAG</ExternalLink>
     for more detailed information and recommendations.
  </Description>

  <InfoList type="decimal">
    <InfoListItem
      label="Follow the development standards for your platform."
      isLink
    >
      <p>
        All major platforms include tools to build for accessibility, and/or
        have it included in their native components. Refer to the following
        resources for guidance:
      </p>

      <InfoList type="disc">
        <InfoListItem label="" isLink>
          Web: <ExternalLink
            href="https://www.w3.org/WAI/standards-guidelines/wcag/"
          >
            WCAG 2.1
          </ExternalLink> and <ExternalLink
            href="https://www.w3.org/WAI/standards-guidelines/aria/"
          >
            ARIA 1.1
          </ExternalLink>.
        </InfoListItem>
        <InfoListItem label="" isLink>
          iOS and Mac: <ExternalLink
            href="https://developer.apple.com/design/human-interface-guidelines/accessibility/overview/introduction/"
          >
            Apple Human Interface Guideliness
          </ExternalLink>.
        </InfoListItem>
        <InfoListItem label="" isLink>
          Android: <ExternalLink
            href="https://developer.android.com/guide/topics/ui/accessibility"
          >
            Developer Documentation Guide
          </ExternalLink>.
        </InfoListItem>
        <InfoListItem label="" isLink>
          Windows: <ExternalLink
            href="https://docs.microsoft.com/en-us/windows/uwp/design/accessibility/accessibility"
          >
            Windows Dev Center
          </ExternalLink>.
        </InfoListItem>
      </InfoList>
    </InfoListItem>

    <InfoListItem
      label="Ensure the application is compatible with assistive technologies."
      isLink
    >
      <p>
        Users with disabilities may use one or more devices to interact with the
        application. These include:
      </p>
      <InfoList type="disc">
        <InfoListItem label="" isLink>Screen readers</InfoListItem>
        <InfoListItem label="" isLink>
          Screen magnification software
        </InfoListItem>
        <InfoListItem label="" isLink>Text readers</InfoListItem>
        <InfoListItem label="" isLink>Speech input software</InfoListItem>
        <InfoListItem label="" isLink>
          Alternative input devices, such as head pointers, motion/eye tracking,
          and single switch entries
        </InfoListItem>
        <InfoListItem label="" isLink>
          Refer to <Link href="./principles">Principles</Link> to learn more
          about the different tools used, or Testing Tools to find resources for
          testing these devices.
        </InfoListItem>
      </InfoList>
      <InfoListItem
        label="Use colors with sufficient contrast for text and UI elements."
        isLink
      >
        <p>
          Sufficient color contrast ensures that users who are color-blind or
          have low vision can view the content. Refer to Colors to learn more
          about accessible combinations with Neo's palette, and Testing Tools to
          find resources on checking contrast levels.
        </p>
      </InfoListItem>
      <InfoListItem
        label="Ensure all functional elements on a page are reachable by keyboard and/or gestures."
        isLink
      >
        <p>
          Some users rely solely on the keyboard or other devices to interact
          with the application. Make sure that all interactive areas can be
          reached without a mouse, that hover states are also clearly shown, and
          that keyboard focus states are included.
        </p>
      </InfoListItem>
      <InfoListItem
        label="Support personalization where possible.Some users may have accessibility preferences enabled on their devices."
        isLink
      >
        <p>
          Respect these preferences within the application for a consistent
          experience (e.g. high contrast mode, increased font size, etc.).
        </p>
      </InfoListItem>
      <InfoListItem
        label="Audit and test the application for accessibility."
        isLink
      >
        <p>
          Incorporate accessibility testing into the product development process
          to ensure all UI elements and flows work for users with disabilities.
          Refer to Testing Tools for resources on testing the application. Also
          include representative users into usability testing and other feedback
          activities to gain understanding on real usage.
        </p>
      </InfoListItem>
    </InfoListItem>
  </InfoList>
</PageleteSection>
