---
import { Link } from "@avaya/neo-react";

import {
  BulletInfoList,
  Description,
  ExternalLink,
  InfoList,
  InfoListItem,
  PageleteSection,
  SectionHeader,
} from "components";

import { topics } from "../static";
const { id, title } = topics["getting-started"];
---

<PageleteSection>
  <SectionHeader id={id}>{title}</SectionHeader>

  <Description>
    There are many things to consider when creating accessible applications.
    Some important ones are listed below. Refer to
    <ExternalLink href="https://www.w3.org/WAI/policies/">WCAG</ExternalLink>
     for more detailed information and recommendations.
  </Description>

  <InfoList type="decimal" fontSize="1rem">
    <InfoListItem
      label="Follow the development standards for your platform."
      removeColon
    >
      <p class="margin-top">
        All major platforms include tools to build for accessibility, and/or
        have it included in their native components. Refer to the following
        resources for guidance:
      </p>

      <BulletInfoList>
        <InfoListItem>
          Web: <ExternalLink
            href="https://www.w3.org/WAI/standards-guidelines/wcag/"
          >
            WCAG 2.1
          </ExternalLink> and <ExternalLink
            href="https://www.w3.org/WAI/standards-guidelines/aria/"
          >
            ARIA 1.1
          </ExternalLink>.
        </InfoListItem>

        <InfoListItem>
          iOS and Mac: <ExternalLink
            href="https://developer.apple.com/design/human-interface-guidelines/accessibility/overview/introduction/"
          >
            Apple Human Interface Guideliness
          </ExternalLink>.
        </InfoListItem>

        <InfoListItem>
          Android: <ExternalLink
            href="https://developer.android.com/guide/topics/ui/accessibility"
          >
            Developer Documentation Guide
          </ExternalLink>.
        </InfoListItem>

        <InfoListItem>
          Windows: <ExternalLink
            href="https://docs.microsoft.com/en-us/windows/uwp/design/accessibility/accessibility"
          >
            Windows Dev Center
          </ExternalLink>.
        </InfoListItem>
      </BulletInfoList>
    </InfoListItem>

    <InfoListItem
      label="Ensure the application is compatible with assistive technologies."
      removeColon
    >
      <p class="margin-top">
        Users with disabilities may use one or more devices to interact with the
        application. These include:
      </p>

      <BulletInfoList>
        <InfoListItem>Screen readers</InfoListItem>

        <InfoListItem>Screen magnification software</InfoListItem>

        <InfoListItem>Text readers</InfoListItem>

        <InfoListItem>Speech input software</InfoListItem>

        <InfoListItem>
          Alternative input devices, such as head pointers, motion/eye tracking,
          and single switch entries
        </InfoListItem>

        <InfoListItem>
          Refer to <Link href="/accessibility/principles">Principles</Link> to
          learn more about the different tools used, or Testing Tools to find
          resources for testing these devices.
        </InfoListItem>
      </BulletInfoList>
    </InfoListItem>

    <InfoListItem
      label="Use colors with sufficient contrast for text and UI elements."
      removeColon
    >
      <p class="margin-top">
        Sufficient color contrast ensures that users who are color-blind or have
        low vision can view the content. Refer to Colors to learn more about
        accessible combinations with Neo's palette, and Testing Tools to find
        resources on checking contrast levels.
      </p>
    </InfoListItem>
    <InfoListItem
      label="Ensure all functional elements on a page are reachable by keyboard and/or gestures."
      removeColon
    >
      <p class="margin-top">
        Some users rely solely on the keyboard or other devices to interact with
        the application. Make sure that all interactive areas can be reached
        without a mouse, that hover states are also clearly shown, and that
        keyboard focus states are included.
      </p>
    </InfoListItem>
    <InfoListItem
      label="Support personalization where possible.Some users may have accessibility preferences enabled on their devices."
      removeColon
    >
      <p class="margin-top">
        Respect these preferences within the application for a consistent
        experience (e.g. high contrast mode, increased font size, etc.).
      </p>
    </InfoListItem>
    <InfoListItem
      label="Audit and test the application for accessibility."
      removeColon
    >
      <p class="margin-top">
        Incorporate accessibility testing into the product development process
        to ensure all UI elements and flows work for users with disabilities.
        Refer to Testing Tools for resources on testing the application. Also
        include representative users into usability testing and other feedback
        activities to gain understanding on real usage.
      </p>
    </InfoListItem>
  </InfoList>
</PageleteSection>

<style>
  p.margin-top {
    margin-top: 0.2rem;
  }
</style>
