---
import type { Topic, TopicsDict } from "./TopicHelpers";
import { topicsSortedByOrder } from "./TopicHelpers";
import { InfoList, InfoListItem } from "../InfoList";

export interface Props {
  topics: TopicsDict<string>; // TODO: should be able to use generic type: `TopicsDict<T>`
}

const { topics } = Astro.props as Props;
const links: Topic[] = topicsSortedByOrder(topics) || [];
---

<InfoList>
  {
    links.map((link) => (
      <InfoListItem>
        <a href={`#${link.id}`}>{link.title}</a>
      </InfoListItem>
    ))
  }
</InfoList>
