---
import {
  LinkButton,
  PageleteSection,
  SectionHeader,
} from "../../../../components/astro";

import { topics } from "../static"

import { KeyboardInteractionsTable } from "../../../components/accordion/sections";

---
<PageleteSection>
  <div class="header-with-linkbutton">
    <SectionHeader id={topics.accordion.id}>{topics.accordion.title} </SectionHeader>
    <LinkButton href="/components/accordion" variant="secondary" size="compact">Visit Accordion component</LinkButton>
  </div>
  <KeyboardInteractionsTable />
</PageleteSection>

<style>
  .header-with-linkbutton {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
</style>
