div#guidelines-typography-typescaletable {
	min-width: 800px;
}
div#guidelines-typography-typescaletable .neo-table td:first-child {
	width: 400px;
}
@media (max-width: 850px) {
	div#guidelines-typography-typescaletable {
		min-width: unset;
	}
	div#guidelines-typography-typescaletable .neo-table td:first-child {
		width: 220px;
	}
}

div#guidelines-typography-typescaletable .neo-table tbody tr {
	border-bottom-color: var(--neo-color-base-100);
}
@media (prefers-color-scheme: dark) {
	div#guidelines-typography-typescaletable .neo-table tbody tr {
		border-bottom-color: var(--neo-color-base-800);
	}
}

/* remove hover effect */
div#guidelines-typography-typescaletable .neo-table tr:not(.disabled):hover,
.neo-table tr:not(.disabled):focus-within {
	background-color: inherit;
}
