.search-icon:before {
	font-size: 21px;
}

.neo-navbar .neo-nav--right .search__button {
	margin-right: 8px;
	margin-left: 16px;
	padding: 6px 8px;
	border: 1px solid var(--navbar-border-bottom-color);
	border-radius: 100px;
	background-color: transparent;
	background-image: none;
	color: var(--global-font-color);

	width: 6rem;
	display: flex;
	justify-content: space-between;
}

[dir="rtl"] .neo-navbar .neo-nav--right .search__button {
	margin-right: 16px;
	margin-left: 8px;
}

.neo-navbar .neo-nav--right .search__button--content {
	padding-right: 5px;
	font-size: 1rem;
}

@media (max-width: 831px) {
	.neo-navbar .neo-nav--right .search__button--content {
		display: none;
	}
}
