/* TODO: HACK: remove this file once `neo-react` v0.7.5 is used. This issue is resolved by PR#50: https://github.com/avaya-dux/neo-react-library/pull/50 */
.neo-navbar .neo-nav--right {
  padding-right: 1px;
}

.link-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.link-container .neo-form-control .neo-input-group .neo-input-group__addon {
  border: none;
  padding: 6px 8px;
  padding-left: 0px;
}

.link-container .neo-form-control .neo-input-group .neo-input-group--addons:focus-within {
  margin: 0px;
}

.link-container .neo-form-control .neo-input-group .neo-input {
padding: 0px
}

.link-container .neo-form-control .neo-input-group .neo-input:focus {
  padding: 0px;
}

.link-container .neo-form-control .neo-input-group .neo-input-editable__wrapper {
  padding: 6px 8px;
}

.link-container .neo-form-control .neo-input-group .neo-input-editable__wrapper:focus-within {
  padding: 5px 8px 5px 7px;
}

.link-container .neo-input-group .neo-input-group--addons:focus-within .neo-input-group__addon:last-child {
  padding: 5px 7px;
  padding-left: 0px;
}

.search-modal__button {
  background: none;
  padding: 4px 8px;
  border: 1px solid var(--neo-color-base-200);
  border-radius: 2px;
}

.search-modal .neo-modal__content {
  margin: 60px auto auto;
  width: 400px;
  padding: 16px 16px 0 16px;
}

.search-icon {
  padding: 13px 16px;
  cursor: pointer;
}

.search-icon:before {
  font-size: 21px;
}

.search-modal__keyboard-nav {
  padding: 8px 12px 0px 12px;
  border-top: 1px solid var(--neo-color-base-200);
  display: flex;
  justify-content: flex-start;
}

.search-modal__keyboard-nav div:first-child {
  margin-right: 24px;
}

.search-modal__keyboard-nav div:last-child button:first-child {
  margin-right: 8px;
}

.search-modal__results {
  padding: 8px;
  display: flex;
  flex-direction: column;
}
