---
import { Button } from "@avaya/neo-react";

import {
  Description,
  ColumnLayout,
  InfoTable,
  PageleteSection,
  SectionHeader,
  StackedLayout,
  InfoTableBody,
  InfoTableRow,
  InfoTableCell,
} from "components/astro";
import { topics } from "./static";
---

<PageleteSection>
  <SectionHeader id={topics.type.id}>{topics.type.title}</SectionHeader>

  <Description>
    There are multiple variants for each button. The format and use of each is
    outlined below.
  </Description>

  <ColumnLayout numOfColumns={3}>
    <StackedLayout>
      <Button>Primary Button</Button>
    </StackedLayout>

    <StackedLayout>
      <Button variant="secondary">Secondary Button</Button>
    </StackedLayout>

    <StackedLayout>
      <Button variant="tertiary">Tertiary Button</Button>
    </StackedLayout>
  </ColumnLayout>

  <InfoTable isBulletedList>
    <InfoTableBody>
      <InfoTableRow>
        <InfoTableCell>
          <strong>• Primary Button:</strong> Use these buttons to perform the most
          important action item on the current page. For example, Save or Continue.
          Too many Primary buttons can be confusing for the user, so only include
          one Primary button on each screen or region.
        </InfoTableCell>
      </InfoTableRow>

      <InfoTableRow>
        <InfoTableCell>
          <strong>• Secondary Button:</strong> Secondaries offer alternate or opposite
          actions to the Primary. For example, Cancel, Back, or Reset. Multiple Secondary
          buttons can be used with each Primary.
        </InfoTableCell>
      </InfoTableRow>

      <InfoTableRow>
        <InfoTableCell>
          <strong>• Tertiary Button:</strong> Use them on their own or pair them
          up with other buttons. Tertiary buttons contain the least important action
          items on the page.
        </InfoTableCell>
      </InfoTableRow>
    </InfoTableBody>
  </InfoTable>
</PageleteSection>
