---
import { Button } from "@avaya/neo-react";

import {
  ColumnLayout,
  Description,
  InfoList,
  InfoListItem,
  PageleteSection,
  SectionHeader,
  StackedLayout,
} from "components/astro";
import { topics } from "./static";
---

<PageleteSection>
  <SectionHeader id={topics.type.id}>{topics.type.title}</SectionHeader>

  <Description>
    There are multiple variants for each button. The format and use of each is
    outlined below.
  </Description>

  <ColumnLayout numOfColumns={3}>
    <StackedLayout>
      <Button>Primary Button</Button>
    </StackedLayout>

    <StackedLayout>
      <Button variant="secondary">Secondary Button</Button>
    </StackedLayout>

    <StackedLayout>
      <Button variant="tertiary">Tertiary Button</Button>
    </StackedLayout>
  </ColumnLayout>

  <InfoList type="disc">
    <InfoListItem label="Primary Button">
      Use these buttons to perform the most important action item on the current
      page. For example, Save or Continue. Too many Primary buttons can be
      confusing for the user, so only include one Primary button on each screen
      or region.
    </InfoListItem>

    <InfoListItem label="Secondary Button">
      Secondaries offer alternate or opposite actions to the Primary. For
      example, Cancel, Back, or Reset. Multiple Secondary buttons can be used
      with each Primary.
    </InfoListItem>

    <InfoListItem label="Tertiary Button">
      Use them on their own or pair them up with other buttons. Tertiary buttons
      contain the least important action items on the page.
    </InfoListItem>
  </InfoList>
</PageleteSection>
