---
import { Button } from "@avaya/neo-react";

import {
  Description,
  ColumnLayout,
  InfoTable,
  SectionHeader,
} from "components/astro";
import { topics } from "./static";
---

<section>
  <SectionHeader id={topics.type.id}>{topics.type.title}</SectionHeader>

  <Description>
    There are multiple variants for each button. The format and use of each is
    outlined below.
  </Description>

  <ColumnLayout numOfColumns={3}>
    <div class="btn-display-wrapper">
      <Button>Primary Button</Button>
    </div>

    <div class="btn-display-wrapper">
      <Button variant="secondary">Secondary Button</Button>
    </div>

    <div class="btn-display-wrapper">
      <Button variant="tertiary">Tertiary Button</Button>
    </div>
  </ColumnLayout>

  <InfoTable>
    <tbody>
      <tr>
        <td>Primary button</td>

        <td>
          Use these buttons to perform the most important action item on the
          current page. For example, Save or Continue. Too many Primary buttons
          can be confusing for the user, so only include one Primary button on
          each screen or region.
        </td>
      </tr>

      <tr>
        <td>Secondary button</td>

        <td>
          Secondaries offer alternate or opposite actions to the Primary. For
          example, Cancel, Back, or Reset. Multiple Secondary buttons can be
          used with each Primary.
        </td>
      </tr>

      <tr>
        <td>Tertiary button</td>

        <td>
          Use them on their own or pair them up with other buttons. Tertiary
          buttons contain the least important action items on the page.
        </td>
      </tr>
    </tbody>
  </InfoTable>
</section>

<style>
  div.btn-display-wrapper {
    outline-color: gray;
    outline-width: 2px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
</style>
