---
export interface Props {
	header?: string;
}
const { header = "please specify header" } = Astro.props as Props;
---

<div class="column">
  <h4 class="header">{header}</h4>
  <slot />
</div>

<style>
  .column {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .header {
    border: 0;
    color: var(--global-font-color);
    font-family: noto-sans, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 8px;
  }
</style>
