---
import clsx from "clsx";

export interface Props {
  token?: string;
  rgb?: string;
  labelColor?: string;
}
const {
  token = "please specify token",
  rgb = "please specify rgb",
  labelColor = "#ff0000",
} = Astro.props as Props;

const hasBorder = token.endsWith("base-0");
const classes = clsx("rgb", hasBorder && "rgb__border");
---

<div class="row">
  <div class={classes}>{rgb}</div>
  <div class="token">{token}</div>
</div>

<style define:vars={{ rgb, labelColor }}>
  .row {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .rgb {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rgb);
    color: var(--labelColor);
    width: 96px;
    height: 40px;
    font-family: noto-sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  .rgb__border {
    border: 1px solid var(--neo-color-base-200);
  }
  .token {
    display: inline-block;
    width: 184px;
    padding: 0 16px;
    color: var(--global-font-color);
    font-family: noto-sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
</style>
