---
import { Button } from "@avaya/neo-react";
import { Description, PageTitle } from "components/astro";
---

<PageTitle>Icons Placeholder</PageTitle>

<Description>Lorem Ipsum</Description>

<Button>Example</Button>
<Button>Example</Button>
<Button>Example</Button>
