.icon-library {
	background-color: var(--global-background);
}

.icon-library span[class*="neo-icon-"]::before {
	color: var(--global-font-color);
}

.icon-library__alert {
	margin-bottom: 2rem;
}

.icon-library__no-icons {
	display: block;
	color: var(--button-color-alert);
}
