---
import { iconCategories } from "./icons";
import IconCategory from "./IconCategory.astro";

const sortedCategories = iconCategories.sort((a, b) => (a > b ? 1 : -1));
---

<div>
  {sortedCategories.map((category) => <IconCategory category={category} />)}
</div>
