.changes__wrapper h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-top: 16px;
}
.changes__wrapper ul {
  margin-left: 10px;
  list-style-position: inside;
  padding-top: 8px;
}
.changes__wrapper ul {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 0 0;
}
.changes__wrapper li {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 0 1rem;
}

.changes__wrapper em {
  font-weight: 400;
}
