---
import { Description, PageleteSection, SectionHeader } from "components";

import DescriptionWithCode from "./DescriptionWithCode.astro";
---

<PageleteSection>
  <SectionHeader id="compiled-css">
    Install The CSS Library, <code>neo-css</code>
  </SectionHeader>

  <div class="grid">
    <DescriptionWithCode code="npm install @avaya/neo">
      With NPM
    </DescriptionWithCode>

    <DescriptionWithCode code="yarn add @avaya/neo">
      With Yarn
    </DescriptionWithCode>

    <DescriptionWithCode code="pnpm add @avaya/neo">
      With PNPM
    </DescriptionWithCode>
  </div>

  <Description>
    The package contains both compiled and minified versions of the Neo .css
    file, as well as separate stylesheets for both icons and multilingual font
    support.
  </Description>

  <DescriptionWithCode
    code={`<link rel="stylesheet" type="text/css" href="dist/css/neo/neo.min.css" />`}
  >
    After installing <code>neo-css</code> to your project, add the compiled or minified
    CSS to the head element of your HTML5 document.
  </DescriptionWithCode>
</PageleteSection>

<style>
  div.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
</style>
