---
import {
  CodeHighlight,
  Description,
  PageleteSection,
  SectionHeader,
} from "components";
---

<PageleteSection>
  <SectionHeader id="compiled-css">
    Install The CSS Library, <code>neo-css</code>
  </SectionHeader>

  <Description>
    With NPM:
    <div id="code-highlight-container">
      <CodeHighlight code="npm install @avaya/neo" active client:load />
    </div>
  </Description>

  <Description>
    With Yarn:
    <div id="code-highlight-container">
      <CodeHighlight code="yarn add @avaya/neo" active client:load />
    </div>
  </Description>

  <Description>
    With PNPM:
    <div id="code-highlight-container">
      <CodeHighlight code="pnpm add @avaya/neo" active client:load />
    </div>
  </Description>

  <Description>
    The package contains both compiled and minified versions of the Neo .css
    file, as well as separate stylesheets for both icons and multilingual font
    support.
  </Description>

  <Description>
    After installing <code>neo-css</code> to your project, add the compiled or minified
    CSS to the head element of your HTML5 document.

    <div id="code-highlight-container">
      <CodeHighlight
        code={`<link rel="stylesheet" type="text/css" href="dist/css/neo/neo.min.css" />`}
        active
        client:load
      />
    </div>
  </Description>
</PageleteSection>

<!--
  TODO: should fix this in the code highlight component.
  Use of `is:global` in a component is a red-flag
-->
<style is:global>
  #code-highlight-container {
    transform: translateZ(0);
  }

  #code-highlight-container div.neo-tooltip {
    top: 1rem;
  }
</style>
