---
import { Description, PageleteSection, SectionHeader } from "components";

import DescriptionWithCode from "./DescriptionWithCode.astro";
---

<PageleteSection>
  <SectionHeader id="compiled-css">
    Install The CSS Library, <code>neo-css</code>
  </SectionHeader>

  <div class="setup-css-install-grid">
    <DescriptionWithCode
      tooltipId="npm-install-neo-css"
      code="npm install @avaya/neo"
    >
      With NPM
    </DescriptionWithCode>

    <DescriptionWithCode
      tooltipId="yarn-add-neo-css"
      code="yarn add @avaya/neo"
    >
      With Yarn
    </DescriptionWithCode>

    <DescriptionWithCode
      tooltipId="pnpm-add-neo-css"
      code="pnpm add @avaya/neo"
    >
      With PNPM
    </DescriptionWithCode>
  </div>

  <Description>
    The package contains both compiled and minified versions of the Neo .css
    file, as well as separate stylesheets for both icons and multilingual font
    support.
  </Description>

  <DescriptionWithCode
    tooltipId="add-neo-css-to-head"
    code={`<link rel="stylesheet" type="text/css" href="dist/css/neo/neo.min.css" />`}
  >
    After installing <code>neo-css</code> to your project, add the compiled or minified
    CSS to the head element of your HTML5 document.
  </DescriptionWithCode>
</PageleteSection>

<style>
  @media (min-width: 1080px) {
    div.setup-css-install-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }
  }
</style>
