---
import { CodeHighlight } from "components";

export interface Props {
  code: string;
}
const { code } = Astro.props as Props;
---

<p><slot /></p>

<div class="code-highlight-container">
  <CodeHighlight code={code} active client:load />
</div>

<style is:global>
  .code-highlight-container {
    transform: translateZ(0);
  }

  .code-highlight-container div.neo-tooltip {
    top: 1rem;
  }
</style>
