---
import { Description, PageTitle, PageleteSection } from "components/astro";
---

<PageleteSection>
  <PageTitle>Setup Neo Libraries</PageTitle>

  <Description>
    Neo is Avaya's Design System, a set of guidelines, components, and resources
    that help designers and developers create consistent, accessible, and
    delightful experiences for Avaya products. The Neo Libraries (<code
      >neo-css</code
    > and <code>neo-react</code>) are a set of reusable components and styles
    that can be used to build Avaya products. The Neo Libraries are set to
    support the latest 2 versions of modern browsers.
  </Description>

  <Description>
    Can't find what you're looking for? Make a request for an icon, component or
    guideline here:
    <a href="https://spaces.avayacloud.com/spaces/63d91605385d4693560107ca">
      link to Neo Design System Feedback Space
    </a>
  </Description>
</PageleteSection>
