---
import { Button } from "@avaya/neo-react";
import { Description, ExternalLink } from "components";
export interface Props {
  header: string;
  href: string;
}
const { header, href } = Astro.props as Props;
---

<div class="card">
  <div class="card-top">
    <h4 class="header neo-semibold">{header}</h4>

    <Description>
      <slot />
    </Description>
  </div>

  <Button variant="secondary">
    <ExternalLink href={href}>View Website</ExternalLink>
  </Button>
</div>

<style>
  .card {
    border: 1px solid var(--neo-color-base-200);
    padding: 2.5rem 2rem;
  }

  .card-top {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .header {
    margin-bottom: 8px;
  }
</style>
