---
export interface Props {
  label?: string;
  removeColon?: boolean;
}

const { label = "", removeColon = false } = Astro.props as Props;
---

{
  () => {
    return label === "" ? (
      <li>
        <slot />
      </li>
    ) : (
      <li>
        <b>
          {label}
          {removeColon ? "" : ": "}
        </b>
        <slot />
      </li>
    );
  }
}
