---
export interface Props {
  label?: string;
}

const { label = "" } = Astro.props as Props;
---

{
  () => {
    return label === "" ? (
      <li>
        <slot />
      </li>
    ) : (
      <li>
        <b>{label}:</b> <slot />
      </li>
    );
  }
}
