---
export interface Props {
  label: string;
  isLink?: boolean;
}

const { label, isLink = false } = Astro.props as Props;
---
{
  ()=>{
    return isLink ? (<li><b>{label}</b> <slot /></li>) : (<li><b>{label}:</b> <slot /></li>)
  }
}
