---
import { PageleteSection, TabMenu } from "components";

const tabNames = ["Design Updates", "CSS", "React"];

import DesignUpdateLogLayout from "./tab-sections/components/DesignUpdateLogLayout.astro";
import CSSLogLayout from "./tab-sections/components/CSSLogLayout.astro";
import ReactLogLayout from "./tab-sections/components/ReactLogLayout.astro";
---

<PageleteSection>
  <TabMenu client:only="react" panels={tabNames}>
    <DesignUpdateLogLayout slot="design updates" />
    <CSSLogLayout slot="css" />
    <ReactLogLayout slot="react" />
  </TabMenu>

  <div class="changelog-spacer"></div>
</PageleteSection>

<style>
  .changelog-spacer {
    padding-left: 60rem;
  }
</style>
