---
import { PageleteSection, TabMenu } from "components";

const tabNames = ["CSS", "React"];

import GitLogLayout from "./tab-sections/components/GitLogLayout.astro";
---

<PageleteSection>
  <TabMenu client:only="react" panels={tabNames}>
    <GitLogLayout repo="neo-css-library" slot="css" />
    <GitLogLayout repo="neo-react-library" slot="react" />
  </TabMenu>

  <div class="changelog-spacer"></div>
</PageleteSection>

<style>
  .changelog-spacer {
    padding-left: 60rem;
  }
</style>
